body{
    text-align: center; 
    background-color: green;  
}
p{
    font-size: 2rem;
    color: white;
}
h1{
    font-size: 3rem;
    color: gold;
}
button{
    font-size: 1.5rem;
    color: black;
    background-color: yellow;
    border-radius: 10px;
    border: none;
    margin-bottom: 5px;
}